<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redmadrobottest.instagramcollage">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.redmadrobottest.instagramcollage.application.InstagramCollageApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:name="com.redmadrobottest.instagramcollage.provider.FileProvider"
            android:authorities="com.redmadrobottest.instagramcollage.providers.fileprovider"
            android:exported="true" />

        <activity
            android:name=".activity.ImageActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnchanged|adjustResize">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

    </application>

</manifest>
